@import url("https://fonts.googleapis.com/css2?family=Sofia&display=swap");

.cloud-header {
  text-align: center;
  font-family: "Sofia", cursive;
  color: #e74c3c;
  font-size: 2em;
}

.img-header {
  font-size: 1em;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  padding: 5px;
  color: #931314;
}
.col img {
  height: 300px;
  width: 300px;
  padding: 8px;
}